<div  class="bsvr-sec-pop fixed top-0 left-0 w-[100vw] h-[100vh] flex items-center justify-center z-[50] bg-black/10">
    <div class="bg-white flex flex-col  rounded-lg shadow-[0_0_5px_1px_rgba(0,0,0,0.2)] border border-gray-300 w-[75%] h-[90%]">
        <div class="flex items-center justify-between py-2 pl-3 pr-2">
            <div class="font-semibold">Başvuru seç</div>
            <div class="btn-close-bsvr-sec tio rounded-full hover:bg-black/5 cursor-pointer select-none text-[1.4rem] p-2" title="Kapat">clear</div>
        </div>
        <div class="relative overflow-hidden overflow-y-auto py-2 pl-3 pr-2">
            Başvurular
        </div>
    </div>
</div>