<div class="py-3 px-5 max-w-[--max-width] mx-auto pb-[100px]">
  <div class="flex items-center">
    <div class="font-semibold text-[1.6rem]">Sertifikalar</div>
    <div class="flex-1 flex items-center justify-end space-x-1">
      <div
        route="/sertifikalar/hiz-regulatoru"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Hız Regülatör
      </div>
      <a
        route="/sertifikalar/fren"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Fren
      </a>
      <a
        route="/sertifikalar/tampon"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Tampon
      </a>
      <div
        route="/sertifikalar/kontrol-kart"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Kontrol Kart
      </div>
      <div
        route="/sertifikalar/durak-kapi-kilit"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Durak Kapı Kilit
      </div>
      <div
        route="/sertifikalar/kabin-kapi-kilit"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Kabin Kapı Kilit
      </div>
      <div
        route="/sertifikalar/ucm-acop"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        UCM-ACOP
      </div>
      <div
        route="/sertifikalar/motor"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Motor
      </div>
      <div
        route="/sertifikalar/kapi-panel"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Kapı Panel
      </div>
      <div
        route="/sertifikalar/halat"
        class="btn-sm btn-base"
        routeActive="btn-active"
      >
        Halat
      </div>
    </div>
  </div>
  <div id="komponent-list"></div>
</div>

