<div class="relative py-3 px-5 max-w-[--max-width] mx-auto pb-[100px]">
  <div class="flex items-center">
    <div class="font-semibold text-[1.6rem]">Belgeler</div>
    <div class="flex-1 flex items-center justify-end space-x-1"></div>
  </div>
  <div class="w-full">
    <div id="tbody1"></div>
    <div>Herhangi bir veri bulunamadı</div>
  </div>
</div>

<div style="display:none"
  class="spinner-areaaa fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black/20"
>
  <div
    class="p-5 rounded border border-gray-300 min-w-[400px] min-h-[100px] bg-white shadow[0_0_4px_1px_rgba(0,0,0,0.2)]"
  >
    <div class="indr-spin-area">
      <div class="text-center font-semibold">İndiriliyor...</div>
      <div class="w-full text-center space-x-2 text-[64px] text-blue-500">
        <div class="spin icon-spin-1 spin-steps1"></div>
      </div>
    </div>
    <div class="text-center anc-indir-area hidden">
      <a href="" download="" class="underline text-blue-600 text-[1.2rem]"
        >İndir</a
      >
    </div>
  </div>
</div>
