<div class="">
    <div class="flex space-x-2">
        <table class="mt-4 border-collapse border border-gray-200 bg-white">
            <tbody>
                {{#each items3}}
                <tr class="text-[0.9rem]">
                    <th class="border-l border-b border-gray-200 text-left text-[0.8rem] pl-1 capitalize">{{title}}</th>
                    <th class="border-l border-b border-gray-200 px-2">:</th>
                    <td class="border-l border-b border-gray-200 px-2 py-1">{{value}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="flex-1 mt-4 border-collapse border border-gray-200 bg-white">
            <tbody>
                {{#each items4}}
                <tr class="text-[0.9rem]">
                    <th class="border-l border-b border-gray-200 text-left text-[0.8rem] pl-1 capitalize w-[250px]">{{title}}</th>
                    <th class="border-l border-b border-gray-200 px-2">:</th>
                    <td class="border-l border-b border-gray-200 px-2">
                        <a href="{{value}}" download="{{title}}" class="text-blue-600 underline">İndir</a>
                    </td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
    </div>
</div>