<header class="bg-[--thm-color]">
  <div class="px-5 py-3 flex items-center">
    <div>
      <a href="">
        <img src="/assets/logo-w.webp" class="h-[50px] w-auto" alt="">
      </a>
    </div>
    <div class="flex-1 flex items-center justify-end ">
      <a route="/" class="btn btn-thm-color">Dashboard</a>
      <a route="/proje-firma" class="btn btn-thm-color">Proje Firmalar</a>
      <a route="/onay-kurumlar" class="btn btn-thm-color">Onaylanmış Kurumlar</a>
      <a route="/sertifikalar" class="btn btn-thm-color">Sertifikalar</a>
      <a route="/personel" class="btn btn-thm-color">Personeller</a>
      <a route="/as-firma" class="btn btn-thm-color">Asansör Firmalar</a>
      <a route="/planlama" class="btn btn-thm-color">Planlama</a>
      <a route="/denetim" class="btn btn-thm-color">Denetim</a>
       <a route="/proje" class="btn btn-thm-color">Proje</a>
       <a route="/tds" class="btn btn-thm-color">TDS</a>
    </div>
  </div>

</header>